body {
    font-family: sans-serif;
    margin: 0;
}

#header{
    width: 35%;
    padding-top: 20px;
    padding-bottom: 5px;
    margin: 0 auto;
}

#header p {
    margin: 0;
    margin-left: 5px;
    font-size: 34px;
    font-weight: bold;
    text-align:justify;
}

.container {
    width: 35%;
    margin: 0 auto;
    height: fit-content;
}

.search_box{
    height: 45px;
}

#inpBox{
    width: 87%;
    height: 36px;
    font-size: 18px;
    font-weight: 200;
    border-radius: 2px;
    border: 2px solid rgb(211, 211, 211);
    color: rgb(72, 72, 72);
    padding: 0;
}


#fetchBtn{
    width: 10%;
    height: 40px;
    border-radius: 2px;
    border: 2px solid rgb(211, 211, 211);
    padding: 0;
    font-size: 18px;
    float: right;
}
#fetchBtn:hover{
    background-color: #ddd;
}

#cards_container {
    width: 100%;
    height: fit-content;
}

.card{
    height: 140px;
    margin-top: 7px;
    border: 2px solid rgb(211, 211, 211);
}
.card:hover {
    box-shadow: 2px 2px rgba(107, 107, 107, 0.5);
}

.flag {
    width: 35%;
    margin-left: 3.0%;
    height: 120px;
    margin-top: 10px;
    float: left;
}

.flag_img {
    min-width: 100%;
    max-width: 100%;
    min-height: 120px;
    max-height: 120px;
    object-fit: fill;
    border: 1px solid rgb(199, 199, 199);
}

.info_area{
    width: 55%;
    margin-right: 3.0%;
    height: 120px;
    margin-top: 10px;
    float: right;
}

.info{
    width: 100%;
    height: 70px;
}

.name, .currency, .capital{
    margin: 0;
}

.name{
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 5px;
}

.currency, .capital{
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 5px;
}

.ref_area {
    width: 100%;
    margin-top: 5px;
    height: 45px;
}

.map_btn_span, .detail_btn_span {
    display: inline-block;
    width: 45%;
    height: 35px;
    margin-top: 5px;
    border-radius: 3px;
    border: 2px solid rgb(38, 38, 249);
    font-size: 16px;
    font-weight: 400;
    line-height: 35px;
    text-align: center;
    color: rgb(69, 69, 251);
}

.detail_btn_span:hover, .map_btn_span:hover {
    box-shadow: 2px 2px rgba(79, 79, 250, 0.4);
}

.detail_btn_span {
    float: right;
}

#d_container {
    width: 60%;
    height: 700px;
    margin: 0 auto;
}

#detail_area {
    width: 100%;
    height: 45%;
    margin-top: 10px;
}

#country_name {
    padding: 0;
    margin: 0;
    margin-left: 10px;
    font-size: 34px;

}

#d_flag_img {
    width: 45%;
    height: 70%;
    margin-left: 10px;
    margin-top: 10px;
    float: left;
}
#country_f_img {
    min-width: 100%;
    max-height: 100%;
    object-fit: fill;
    border: 1px solid rgb(198, 198, 198);
}

#country_details {
    width: 50%;
    height: fit-content;
    margin-top: 10px;
    float: right;
}

#country_details >* {
    margin: 0;
    margin-bottom: 6px;
    font-weight: bold;
}

#neighbours {
    width: 100%;
    height: fit-content;
    margin-top: 10px;
    border: 2px solid rgb(172, 172, 172);
}

#neighbours > h2{
    margin: 15px 0 20px 10px;
    font-size: 22px;
}

#neighbour_flags {
    width: 100%;
    height: fit-content;
    margin-top: 10px;
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
}

.nb_flags {
    width: 250px;
    height: 150px;
    margin: 20px;
    object-fit: fill;
    border: 1px solid rgb(198, 198, 198);
}
